<!DOCTYPE html>
<html>
<head>
	<title>	Youtube API Tests</title>
	
  <script src="{{ url_for('static', filename='js/newhummplayer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/radialProgress.js') }}"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='newhumm.css') }}" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>	
<body>
    <header id="main-header">
      <div id="logo-container">
        <img id="logo-img" src="{{ url_for('static',
        filename='img/logo.png') }}">
      </div>
    </header>
    <div id="main-content">
      <div id="queue-container">
        <h3>Charts</h3>
          <table class="myTable">
              <tbody id="song-table">
              </tbody>
            </table>
            </div>
      <div id="players-container">
          <div id="player1" class="mainPlayer">PLAYER 1</div>
          <div id="player2" class="secondPlayer">PLAYER 2</div> 
       </div>
      <div id="countdown-container">
        <div id="timer-container"> TIMER </div>
      </div>
    </div>
		
</body>
</html>
